{% extends "sellers_website/base.html" %}
    {% block content %}
    <main class="main__success">
        <h1 class="page__title">Pronto! <br/> Seu Produto foi cadastrado com sucesso!</h1>
        <section class="access access-home">
            <a href="/sellers/product/register"  class="button button__register">Cadastrar outro produto</a>
            <a href="/sellers/products" class="button button__list">Acessar seus produtos</a>
        </section>
    </main>    
    <footer class="footer">
        <p class="footer__help">Em caso de dúvidas, acesse a nossa central de atendimento.</p>
    </footer>
    {% endblock content %}