{% extends "sellers_website/base.html" %}
    {% block content %}
    <main class="main__product">
        <h1 class="page__title">Lista de Produtos</h1>
        <section class="access product">
            <div class="product__card">
                <form action="" method="PUT">
                    
                </form>
                <p>{{my_product.nome_produto}}</p>
                <p>{{my_product.marca_produto}}</p>
                <p>{{my_product.categoria_produto}}</p>
                <p>R${{my_product.preco_produto}}</p>
                <p>{{my_product.preco_produto}} unidades</p>
                <a href="" class="button button__submit">Editar</a>
            </div>
            <a href="/sellers/products" class="button button__submit">Voltar</a>
              
        </section>
    </main>    
    <footer class="footer">
        <p class="footer__help">Em caso de dúvidas, acesse a nossa central de atendimento.</p>
    </footer>
    {% endblock content %}