{% extends "sellers_website/base.html" %}
    {% block content %}
    <main>
        <h1 class="page__title">Quero ser um vendedor</h1>
        <form action="{% url 'add_new_seller' %}" method="POST" class="form-signin form__list">
            {% csrf_token %}
            {{ seller_form.as_ul }}
            <div class="button__block">
                <button class="button button__reset" 
                    type="reset"> Limpar
                </button>
                <button class="button button__submit" 
                    type="submit"> Cadastrar
                </button>
            </div>
        </form>
        <a href="/" class="button">Voltar</a>
    </main>
    <footer class="footer">
        <p class="footer__help">Em caso de dúvidas, acesse a nossa central de atendimento.</p>
    </footer>
        
    {% endblock content %}