{% extends "sellers_website/base.html" %}
    {% block content %}
    <main>
        <h1 class="page__title">Quero ser um vendedor</h1>
        <form class="form-signin" role="form" action="" method="post">
            <h2 class="form-signin-heading">Faça o seu Cadastro</h2>
    
            <input id="id_email" name= "email" type="text" 
                class="form-control" placeholder="Email*" 
                required>
    
            <input id="id_cpf" name= "cpf" type="number" 
                class="form-control" placeholder="CPF*" 
                pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" 
                title="Digite o CPF no formato: xxx.xxx.xxx-xx" 
                required>
    
            <input id="id_name" name= "name" type="text"
                class="form-control" placeholder="Nome Completo*"
                required>
    
            <input id="id_password" name= "password" type="password"
                class="form-control" placeholder="Senha*"
                required>
    
            <input class='form-control' type='checkbox' name='checkbox[]' 
                value='1' onclick='deRequire("form-control")' 
                required> Li e aceito a Política de privacidade do grupo
                Magazine Luiza
    
            <button class="btn btn-lg btn-primary btn-block" 
                type="submit"> Limpar
            </button>
    
            <button class="btn btn-lg btn-primary btn-block" 
                type="submit"> Próximo
            </button>
            <p>Em caso de dúvidas, acesse a nossa central de atendimento.</p>
        </form>

    </main>
        
    {% endblock content %}