{% extends "sellers_website/base.html" %}
    {% block content %}
    <main class="main__home main--seller">
        <h1 class="page__title">Seja bem-vindo {NOME DO VENDEDOR}</h1>
        <section class="access access-home access--seller">
            <a href="/sellers/product/register"  class="button access__button">Cadastre Novo Produto</a>
            <a href="/sellers/products"  class="button access__button">Acessar seus Produtos</a>
        </section>
        <section class="access access-admin">
            <a href="#" class="button access-admin__button">Editar Perfil</a>
            <a href="/" class="button access-admin__button">Sair da Conta</a>
        </section>
    </main>    
    {% endblock content %}