{% extends "sellers_website/base.html" %}
    {% block content %}
    <main>
        <h1 class="page__title">Quero ser um vendedor</h1>
        <form class="form-signin" role="form" action="" method="post">
            <h2 class="form-signin-heading">Faça o seu Cadastro</h2>
            <ul class="form__list">
                <li>
                    <label for="id_email">Email *</label>
                     <input id="id_email" name="seller_form" type="text" class="form-control" placeholder="ex.:magalu@magazineluiza.com" required>
                </li>
                <li>
                    <label for="id_cpf">CPF *</label>
                    <input id="id_cpf" name="seller_form" type="number" class="form-control" placeholder="ex.: xxx xxx xxx xx" pattern="\d{3}\.?\d{3}\.?\d{3}-?\d{2}" title="Digite o CPF no formato: xxx.xxx.xxx-xx" required>
                </li>
                <li>
                    <label for="id_name">Nome Completo *</label>
                    <input id="id_name" name="seller_form" type="text"class="form-control" placeholder="ex.: Luiza Magazine" required>
                </li>
                <li>
                    <label for="id_password">Senha *</label>
                    <input id="id_password" name="seller_form" type="password" class="form-control" placeholder="Mínimo 6 caracteres" required>
                </li>
                <li class="form__checkbox">
                    <input class='form-control' type='checkbox' name='seller_form' value='1' required> 
                     <label for="">Li e aceito a Política de privacidade do grupo Magazine Luiza</label>
                </li>
            </ul>
            <div class="button__block">
                <button class="button button__reset" 
                    type="reset"> Limpar
                </button>
                <button class="button button__submit" 
                    type="submit"> Próximo
                </button>
            </div>

        </form>
    </main>
    <footer class="footer">
        <p class="footer__help">Em caso de dúvidas, acesse a nossa central de atendimento.</p>
    </footer>
        
    {% endblock content %}